[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/exlaunch"]
	path = extern/exlaunch
	url = https://github.com/shadowninja108/exlaunch.git
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
